version: '3'
services:
  train:
    image: udayakiranh/paytmtrain
    ports: 
      -"80:80"
    replicas: 3
  movies:
    image: udayakiranh/paytmmovies
    ports: 
      -"81:80"
    replicas: 3
  dth:
    image: udayakiranh/paytmdth
    ports: 
      -"82:80"
    replicas: 3
  recharge:
    image: udayakiranh/paytmrecharge
    ports: 
      -"83:80"
    replicas: 3
